%h1 Hotels#new
%br
%br
%br
%br
=simple_form_for @hotel, html: {multipart: true} do |hotel|
  .form-input
    =hotel.input :title
    =hotel.input :rating
    =hotel.input :image, as: :file
    =hotel.input :remote_image_url
    = simple_fields_for :address do |address|
      = address.input :country
      = address.input :state
      = address.input :city
      = address.input :street
  .form-action
    = hotel.button :submit, 'Add'

%br

=link_to 'Back to list', hotels_path()
