#show
  %h2.text-shadow.text-center
    Hotel


  .row-fluid.info-container
    .span6
      .row-fluid.text-shadow
        .span4.text-right
          %strong
            Title:
        .span8
          = @hotel.title

      .row-fluid.text-shadow
        .span4.text-right
          %strong
            Include breakfast:
        .span8
          = (@hotel.breakfast)? 'Yes': 'No'
      .row-fluid.text-shadow
        .span4.text-right
          %strong
            Room description:
        .span8
          = @hotel.description
      .row-fluid.text-shadow
        .span4.text-right
          %strong
            Price for room:
        .span8
          = @hotel.room_price

      .row-fluid.text-shadow
        .span4.text-right
          %strong
            Country:
        .span8
          = @hotel.address.country    if @hotel.address
      .row-fluid.text-shadow
        .span4.text-right
          %strong.text-shadow
            State:
        .span8
          = @hotel.address.state     if @hotel.address
      .row-fluid.text-shadow
        .span4.text-right
          %strong
            City:
        .span8
          = @hotel.address.city     if @hotel.address
      .row-fluid.text-shadow
        .span4.text-right
          %strong
            Street
        .span8
          = @hotel.address.street     if @hotel.address
    .span6.img-container
      .row-fluid
        .span12.text-shadow
          %strong
            Photo
          = image_tag @hotel.image_url.to_s, class: 'out-shadow'

  %br
  %br
  .row-fluid
    .span6
      #comment_container
        =render partial: 'comments'

    .span6
      #rating_container
        =render partial: 'ratings'

  %br

  =link_to 'Back to list', hotels_path(), class: 'btn app-button'